.clickarea{
    width:326px;
    /* align-items: center;
    align-content: center; */
    text-align: center;
}

.clickareamain{
    display: flex;
    /* align-items: center;
    align-content: center;
    text-align: center; */
}
