.clickarea{
    width:326px;
    /* align-items: center;
    align-content: center; */
    text-align: center;
    /* transition: width 2s, height 2s, transform 5s; */
}

.clickareamain{
    display: flex;
    /* align-items: center;
    align-content: center;
    text-align: center; */
}

/* .thumbicon:hover{
    transform:rotate(-45deg) ;
}

.thumbicon:active{
    transform:rotate(-45deg) ;
} */
