.clickarea{
    width:326px;
    /* align-items: center;
    align-content: center; */
    text-align: center;
    /* transition: width 2s, height 2s, transform 5s; */
}

.clickareamain{
    display: flex;
    /* align-items: center;
    align-content: center;
    text-align: center; */
}

.thumbicon:hover{
    transform:rotate(-45deg) ;
}

.thumbicon:active{
    transform:rotate(-45deg) ;
}

/*
.clickarea:active .fa-thumbs-up{
    animation: animation 10s ease-in 3s;

}

@keyframes animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) rotate(-45deg);

  }

  100% {
    transform: scale(1);
  }
} */
