.cover_photo, .default_cover_photo {
    width:1250px;
    height:462px;
    object-fit: cover;
    /* object-position: center bottom; */
    border-radius: 5px;
}

.default_cover_photo{
    background-color: #F0F2F5;
    /* border: 1px solid red; */


}

.profile_pic2 {
    border-radius: 50%;
    width: 168px;
    height: 168px;
    border: 8px solid white
}

.userPage{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-image: linear-gradient(180deg, rgb(129, 132, 177), white); */
    background-image: linear-gradient(to bottom, rgba(129,132,177,1), rgba(129,132,177,0));
}

.profilepic_name{
    display:flex;
    justify-content: center;
    align-items: center;
}

.user_fullname{
    font-size: 32px !important;
    font-weight: bold;

}
