.createcom_wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.createcom{
    width: 620px;
    background-color: #F0F2F5;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border:white
}

.submit_button1{
    display: none;
}

.error235{
    color:red;
    font-size:12px;
}
