.submit_wrapper {
    display: flex;
    background-color: #F0F2F5;
    height:550px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logoname{
    font-size: 45px;
    font-weight: 600;
    color: #1877F2

}

.splash-left{
    width:450px;
}
.connect_fri{
    font-size: 28px;

}

.loginform{
    width:400px;
    height: 315px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.logininput{
    width:364px;
    height:52px;
    align-items: center;
    padding-left:16px;
    padding-right:16px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
}
