textarea{
    border:none ;
    outline: none;
}

.profile_pic3 {
    border-radius: 50%;
    width: 40px;
    margin:5px;
}

.editpostform_wrapper{
    width:440px;
    height:max-content;
    border-radius: 20px;
    margin:10px;
}

.editpost{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position: relative;
    height: 60px;
    border-bottom: solid #E4E6EB;
}

.editpost_wrapper2{
    display:flex;
    flex-direction:row;
    /* justify-content:center; */
    align-items:center;
    /* position: relative; */
    height: 60px;
}

.name99{
    margin-left:10px;
}

.textarea99{
    font-size:22px;
    width:410px;
    height:max-content;
    padding-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.label99{
    margin-left:8px;
}

.input99{
    width:400px;
    margin-bottom: 20px;
    margin-left:5px;
}

.editpost_botton{
    display:flex;
    width:440px;
    height:30px;
    border-radius: 10px;
    background-color: #E4E6EB;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-bottom: 10px;

}

.post_submit99{
    width:440px;
    height:30px;
    padding-top:5px;
    /* margin-bottom:5px; */
    background-color: #1B74E4;
    border:1px solid white;
    border-radius: 10px;
    color:white;
}
