.navbar_wrapper{
    display:flex;
    justify-content:space-between;
}

.navbar_mid{
    display:flex;
    justify-content:space-between;
    width : 25%;
}
.navbar_mid_left{
    width:50%;
    display:flex;
    justify-content: center;

}

.navbar_left{
    display:flex;
}

.profile_pic99{
    border-radius: 50%;
    width:30px;
    height:30px;
}

.navbar_right{
    position:relative
}

#icon {
    height: 30px;
    width: auto;
    display: flex;
    margin-left: 5px;
    margin-top:2px;
  }
