.navbar_wrapper{
    display:flex;
    justify-content:space-between;
}

.navbar_mid{
    display:flex;
    justify-content:space-between;
    width : 20%;
}

.navbar_left{
    display:flex;
}

.profile_pic99{
    border-radius: 50%;
    width:30px;
    height:30px;
}

.navbar_right{
    position:relative
}

.navbar_right_2{
    position:absolute;
    z-index:3;
    top:20px;
}
