.navbar_wrapper{
    display:flex;
    justify-content:space-between;
}

.navbar_mid{
    display:flex;
    justify-content:space-between;
    width:34%;
    gap:5%
}

.navbar_mid_left{
    width:50%;
    display:flex;
    justify-content: center;
}

.navbar_left{
    display:flex;
    width: 180px;
}

.searchbar{
    display:flex;
    position:relative;
    align-items: center;
    /* justify-content:center;
    align-content: center; */

}

.searchbar1{
    display:flex;
    align-items: center;


}

.search_input_container{
    border:none;
    background-color: #F0F2F5;
    border-radius: 25px;
    height:32px;
    margin-left:5px;
    padding:2px;
    padding-left:8px;
    width: 220px;
}


.searchcontainer {
    position:absolute;
    display:flex;
    flex-direction: column;
    top:55px;
    width:100%;
    z-index: 5;
}

.search_name{
    display:flex;
    flex-direction: column;
    /* padding-left:5px; */
    background-color: #FFFFFF ;
    /* z-index: 5; */
}
.search_name_noresult{
    display:flex;
    flex-direction: column;
    background-color: #FFFFFF ;
    padding: 5px;
}

.search_name_individual{
    /* padding-left: 5px; */
    /* width: 90%; */
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
    padding:2px;
    background-color: #FFFFFF ;
    font-size: 15px;

}
.search_name_individual:hover{
    background-color: #dee4ee;
    border-radius: 4px;
}


.active2{
    border-bottom: 5px solid #1777F3;
}

.profile_pic99{
    border-radius: 50%;
    width:35px;
    height:35px;
    margin-top:2px;
    margin-right: 5px;
    margin-left: 5px;
}

.navbar_right{
    position:relative
}

#icon {
    height: 40px;
    width: 40px;
    display: flex;
    padding-left:10px;
    margin-top:8px;
    margin-bottom: 8px;
}

#icon2 {
height: 28px;
width: auto;
display: flex;
/* margin-left:10px; */
margin-top:8px;
margin-bottom: 8px;
font-size: 28px;
color:#1777F3;
/* background-color: #1777F3; */
}

.nav-wrapper98{
    display:flex;
    align-items: center;
    margin-right: 5px;
}

.nav-wrapper99{
    display:flex;
}

.dev-socials-links99{
    text-decoration: none;
    font-size: 35px;
    margin-right: 10px;
}
